<div class="login-form__wrapper">
    <header class="login-form__header">
        <h1 class="login-form__header-title">Вход в аккаунт</h1>

        <p class="login-form__header-subtitle">
            Продолжайте работать с сервисами AstushaApp
        </p>
    </header>

    <main class="login-form__content">
        <form class="login-form__form">
            <tui-textfield iconStart="@tui.mail">
                <label class="login-form__field-label" tuiLabel> Email </label>

                <input tuiInput type="email" placeholder="Введите email" />
            </tui-textfield>

            <tui-textfield iconStart="@tui.lock-keyhole">
                <label class="login-form__field-label" tuiLabel> Пароль </label>

                <input tuiInput type="password" placeholder="Введите пароль" />
            </tui-textfield>

            <div class="login-form__options">
                <label class="login-form__remember">
                    <input tuiCheckbox type="checkbox" size="m" />

                    <span class="login-form__remember-text">
                        Запомнить меня
                    </span>
                </label>

                <a
                    tuiLink
                    class="login-form__forgot-password"
                    routerLink="/auth/forgot-password"
                >
                    Забыли пароль?
                </a>
            </div>

            <button tuiButton class="login-form__submit" type="submit" size="l">
                Войти
            </button>
        </form>
    </main>

    <footer class="login-form__footer">
        <div class="login-form__divider">
            <span class="login-form__divider-line"></span>

            <p class="login-form__divider-text">или</p>

            <span class="login-form__divider-line"></span>
        </div>

        <button
            tuiButton
            class="login-form__google"
            type="button"
            appearance="outline"
            size="l"
        >
            Войти через Google
        </button>

        <div class="login-form__create-account">
            <span class="login-form__create-account-text"> Нет аккаунта? </span>

            <a
                tuiLink
                class="login-form__create-account-link"
                routerLink="/auth/create-account"
            >
                Создать аккаунт
            </a>
        </div>
    </footer>
</div>
