<div class="marketing-emails-card">
    <header class="marketing-emails-card__header">
        <div tuiAvatar="@tui.mail" size="l" appearance="info"></div>

        <div class="marketing-emails-card__info">
            <h2 class="marketing-emails-card__title">
                Маркетинговые рассылки
            </h2>

            <p class="marketing-emails-card__description">
                Настройте, хотите ли вы получать письма о новостях Astusha,
                обновлениях продукта и полезных материалах.
            </p>
        </div>
    </header>

    <main class="marketing-emails-card__content">
        <div class="marketing-emails-card__setting">
            <div class="marketing-emails-card__setting-info">
                <div class="marketing-emails-card__setting-title">
                    Получать маркетинговые письма
                </div>

                <div class="marketing-emails-card__setting-meta">
                    Новости продукта, анонсы новых функций, полезные материалы и
                    специальные предложения.
                </div>
            </div>

            <input
                class="marketing-emails-card__switch"
                tuiSwitch
                type="checkbox"
                [tuiSkeleton]="isLoading()"
                [formControl]="control"
                (change)="updateNotificationSettings()"
            />
        </div>
    </main>
    <footer class="marketing-emails-card__footer">
        <tui-icon icon="@tui.info" class="marketing-emails-card__footer-icon" />
        <div class="marketing-emails-card__footer-text"
            >Эту настройку можно изменить в любой момент.</div
        >
    </footer>
</div>
