<div class="help-dialog">
    <header class="help-dialog__header">
        <div
            class="help-dialog__avatar"
            tuiAvatar="@tui.mail"
            appearance="info"
        ></div>

        <div class="help-dialog__header-content">
            <h2 class="help-dialog__title tui-text_h5">
                Связаться с поддержкой
            </h2>

            <p class="help-dialog__subtitle tui-text_body-m">
                Если у вас возникли вопросы, напишите нам на почту
            </p>
        </div>
    </header>

    <main class="help-dialog__content">
        <a
            class="help-dialog__email-card"
            href="mailto:support@astusha.ru?subject=Обращение в поддержку Astusha ID"
        >
            <span class="help-dialog__email tui-text_h5">
                support&#64;astusha.ru
            </span>

            <span class="help-dialog__response-time tui-text_body-s">
                Ответим в течение 24 часов
            </span>
        </a>
    </main>

    <footer class="help-dialog__footer">
        <a
            tuiButton
            class="help-dialog__button"
            iconStart="@tui.mail"
            appearance="outline"
            href="mailto:support@astusha.ru?subject=Обращение в поддержку Astusha ID"
        >
            Написать на почту
        </a>
    </footer>
</div>
