<div class="dialog">
    <header class="header">
        <div class="icon-wrapper">
            <tui-icon class="icon" icon="@tui.triangle-alert" />
        </div>

        <div class="header-content">
            <h2 class="title"> Удаление аккаунта </h2>

            <p class="description">
                Введите пароль, чтобы подтвердить удаление аккаунта. Это
                действие нельзя будет отменить.
            </p>
        </div>
    </header>

    <div class="content">
        <tui-textfield iconStart="@tui.lock-keyhole">
            <label tuiLabel class="field-label" for="password"> Пароль </label>

            <input
                id="password"
                tuiInput
                type="password"
                autocomplete="current-password"
                placeholder="Введите пароль"
                [formControl]="password"
            />

            <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error [formControl]="password" [order]="['required']" />
    </div>

    <footer class="actions">
        <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            (click)="this.context.$implicit.complete()"
        >
            Отмена
        </button>

        <button
            tuiButton
            type="button"
            appearance="accent"
            size="m"
            [disabled]="isDeleting()"
            [loading]="isDeleting()"
            (click)="deleteAccount()"
        >
            Удалить аккаунт
        </button>
    </footer>
</div>
