<div class="card">
    <header class="header">
        <div tuiAvatar="@tui.blocks" size="l" appearance="info"></div>

        <div class="info">
            <div class="title"> Сервисы Astusha </div>

            <div class="description">
                Настройте уведомления от связанных сервисов экосистемы Astusha.
            </div>
        </div>
    </header>

    <main class="content">
        <div class="list">
            <div class="item disabled">
                <div class="item-icon">
                    <tui-icon icon="@tui.panels-top-left" />
                </div>

                <div class="item-info">
                    <div class="item-title">
                        AstushaApp

                        <div tuiBadge appearance="neutral"> Скоро </div>
                    </div>

                    <div class="item-meta">
                        Задачи, проекты, команды и приглашения.
                    </div>
                </div>

                <input tuiSwitch type="checkbox" disabled />
            </div>

            <div class="item disabled">
                <div class="item-icon">
                    <tui-icon icon="@tui.message-circle" />
                </div>

                <div class="item-info">
                    <div class="item-title">
                        AstushaMessage

                        <span tuiBadge appearance="neutral"> Скоро </span>
                    </div>

                    <div class="item-meta">
                        Новые сообщения, упоминания и реакции.
                    </div>
                </div>

                <input tuiSwitch type="checkbox" disabled />
            </div>

            <div class="item disabled">
                <div class="item-icon">
                    <tui-icon icon="@tui.plug" />
                </div>

                <div class="item-info">
                    <div class="item-title">
                        Интеграции

                        <div tuiBadge appearance="neutral"> Скоро </div>
                    </div>

                    <div class="item-meta">
                        Ошибки подключений и важные события интеграций.
                    </div>
                </div>

                <input tuiSwitch type="checkbox" disabled />
            </div>
        </div>
    </main>
</div>
