<header class="app-header">
    <div class="app-header__left">
        <span class="app-header__eyebrow"> Aккаунт Astusha </span>

        <h1 class="app-header__title"> Единый аккаунт для сервисов Astusha </h1>
    </div>

    <div class="app-header__right" [tuiSkeleton]="isLoading()">
        <button
            tuiButton
            class="app-header__notification"
            type="button"
            appearance="flat"
            size="m"
            iconStart="@tui.bell"
            aria-label="Уведомления"
        ></button>

        @if (currentUser$ | async; as currentUser) {
            <button
                tuiButton
                class="app-header__profile"
                type="button"
                appearance="flat"
                size="m"
            >
                @if (currentUser.avatarUrl) {
                    <img
                        class="app-header__avatar"
                        [src]="currentUser.avatarUrl"
                        alt="Фото профиля"
                    />
                } @else {
                    <div class="app-header__avatar" tuiAvatar="@tui.user">
                    </div>
                }

                <div class="app-header__user-info">
                    <span class="app-header__user-name">
                        {{ currentUser.firstName || currentUser.login }}
                    </span>

                    <span class="app-header__user-login">
                        {{ currentUser.email }}
                    </span>
                </div>

                <tui-icon
                    class="app-header__chevron"
                    icon="@tui.chevron-down"
                />
            </button>
        }
    </div>
</header>
