:host {
    display: block;
}

.settings-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    &__bottom {
        display: flex;
        gap: 10px;
        align-items: stretch;
    }

    &__bottom > * {
        flex: 1 1 0;
        min-width: 0;
    }
}

@media (max-width: 900px) {
    .settings-page {
        &__bottom {
            flex-direction: column;
        }
    }
}
