<div class="security-banner">
    <div class="security-banner__icon-wrapper">
        <tui-icon class="security-banner__icon" icon="@tui.shield-check" />
    </div>

    <div class="security-banner__content">
        <h2 class="security-banner__title"> Ваш аккаунт защищён </h2>

        <p class="security-banner__description">
            Мы регулярно проверяем безопасность вашего аккаунта и уведомим вас о
            любых подозрительных действиях
        </p>
    </div>

    <button
        tuiButton
        class="security-banner__button"
        type="button"
        appearance="outline"
        size="m"
    >
        Подробнее
    </button>
</div>
