<div class="forgot-password-form__wrapper">
    <header class="forgot-password-form__header">
        <h1 class="forgot-password-form__header-title">
            Восстановление пароля
        </h1>

        <p class="forgot-password-form__header-subtitle">
            Введите email, который использовали при регистрации. Если аккаунт
            существует, мы отправим ссылку для сброса пароля.
        </p>
    </header>

    <main class="forgot-password-form__content">
        @if (!isEmailSent()) {
            <form
                class="forgot-password-form__form"
                (ngSubmit)="requestPasswordReset()"
            >
                <tui-textfield iconStart="@tui.mail">
                    <label class="forgot-password-form__field-label" tuiLabel>
                        Email
                    </label>

                    <input
                        tuiInput
                        type="email"
                        autocomplete="email"
                        placeholder="Введите email"
                        [formControl]="emailControl"
                    />
                </tui-textfield>
                <tui-error
                    [formControl]="emailControl"
                    [order]="['required', 'email', 'maxlength']"
                />

                <button
                    tuiButton
                    class="forgot-password-form__submit"
                    type="button"
                    size="l"
                    [disabled]="isLoading()"
                    (click)="requestPasswordReset()"
                >
                    Отправить ссылку
                </button>
            </form>
        } @else {
            <div class="forgot-password-form__success">
                <h2 class="forgot-password-form__success-title">
                    Проверьте почту
                </h2>

                <p class="forgot-password-form__success-text">
                    Если аккаунт с такой почтой существует, мы отправили письмо
                    со ссылкой для сброса пароля.
                </p>

                <button
                    tuiButton
                    class="forgot-password-form__submit"
                    type="button"
                    size="l"
                    appearance="outline"
                    (click)="isEmailSent.set(false)"
                >
                    Ввести другую почту
                </button>
            </div>
        }
    </main>

    <footer class="forgot-password-form__footer">
        <div class="forgot-password-form__login">
            <span class="forgot-password-form__login-text">
                Вспомнили пароль?
            </span>

            <a
                tuiLink
                class="forgot-password-form__login-link"
                [routerLink]="['/auth/login']"
            >
                Войти
            </a>
        </div>
    </footer>
</div>
