<div class="wrapper">
    <header class="header">
        <h1 class="header-title"> Восстановление пароля </h1>

        <p class="header-subtitle">
            Введите email, который использовали при регистрации. Если аккаунт
            существует, мы отправим ссылку для сброса пароля.
        </p>
    </header>

    <main class="content">
        @if (!isEmailSent()) {
            <form class="form" (ngSubmit)="requestPasswordReset()">
                <tui-textfield iconStart="@tui.mail">
                    <label tuiLabel for="email"> Email </label>

                    <input
                        id="email"
                        tuiInput
                        type="email"
                        autocomplete="email"
                        placeholder="Введите email"
                        [formControl]="emailControl"
                    />
                </tui-textfield>
                <tui-error
                    [formControl]="emailControl"
                    [order]="['required', 'email', 'maxlength']"
                />

                <button
                    tuiButton
                    class="submit-button"
                    type="button"
                    size="l"
                    [disabled]="isLoading()"
                    (click)="requestPasswordReset()"
                >
                    Отправить ссылку
                </button>
            </form>
        } @else {
            <div class="success">
                <h2 class="success-title"> Проверьте почту </h2>

                <p class="success-text">
                    Если аккаунт с такой почтой существует, мы отправили письмо
                    со ссылкой для сброса пароля.
                </p>

                <button
                    tuiButton
                    class="success-action"
                    type="button"
                    size="l"
                    appearance="outline"
                    (click)="isEmailSent.set(false)"
                >
                    Ввести другую почту
                </button>
            </div>
        }
    </main>

    <footer class="footer">
        <div class="login">
            <span class="login-text"> Вспомнили пароль? </span>

            <a tuiLink class="login-link" [routerLink]="['/auth/login']">
                Войти
            </a>
        </div>
    </footer>
</div>
