<div class="forgot-password-form__wrapper">
    <header class="forgot-password-form__header">
        <h1 class="forgot-password-form__header-title">
            Восстановление пароля
        </h1>

        <p class="forgot-password-form__header-subtitle">
            Введите email, который использовали при регистрации. Если аккаунт
            существует, мы отправим ссылку для сброса пароля.
        </p>
    </header>

    <main class="forgot-password-form__content">
        <form class="forgot-password-form__form">
            <tui-textfield iconStart="@tui.mail">
                <label class="forgot-password-form__field-label" tuiLabel>
                    Email
                </label>

                <input
                    tuiInput
                    type="email"
                    autocomplete="email"
                    placeholder="Введите email"
                />
            </tui-textfield>

            <button
                tuiButton
                class="forgot-password-form__submit"
                type="submit"
                size="l"
            >
                Отправить ссылку
            </button>
        </form>
    </main>

    <footer class="forgot-password-form__footer">
        <div class="forgot-password-form__login">
            <span class="forgot-password-form__login-text">
                Вспомнили пароль?
            </span>

            <a
                tuiLink
                class="forgot-password-form__login-link"
                [routerLink]="['/auth', '/login']"
            >
                Войти
            </a>
        </div>
    </footer>
</div>
