<div class="wrapper">
    <header class="header">
        <h1 class="header-title">Установите новый пароль</h1>

        <p class="header-subtitle">
            Придумайте новый пароль для входа в аккаунт Astusha ID.
        </p>
    </header>

    <main class="content">
        <form
            class="form"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()"
        >
            <tui-textfield iconStart="@tui.lock-keyhole">
                <label tuiLabel for="newPassword"> Новый пароль </label>

                <input
                    id="newPassword"
                    tuiInput
                    type="password"
                    autocomplete="new-password"
                    placeholder="Введите новый пароль"
                    formControlName="newPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="newPassword"
                [order]="['required', 'minlength', 'maxlength']"
            />

            <tui-textfield iconStart="@tui.lock-keyhole">
                <label tuiLabel for="confirmPassword">
                    Подтвердите пароль
                </label>

                <input
                    id="confirmPassword"
                    tuiInput
                    type="password"
                    autocomplete="new-password"
                    placeholder="Повторите новый пароль"
                    formControlName="confirmPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="confirmPassword"
                [order]="[
                    'required',
                    'minlength',
                    'maxlength',
                    'passwordMismatch'
                ]"
            />

            <button
                tuiButton
                class="submit"
                type="submit"
                size="l"
                [disabled]="isLoading()"
            >
                Сохранить новый пароль
            </button>
        </form>
    </main>

    <footer class="footer">
        <div class="login">
            <span class="login-text">Вспомнили пароль?</span>

            <a tuiLink class="login-link" routerLink="/auth/login"> Войти </a>
        </div>
    </footer>
</div>
