<form class="change-password-dialog" [formGroup]="form">
    <header class="change-password-dialog__header">
        <div class="change-password-dialog__icon-wrapper">
            <tui-icon icon="@tui.lock-keyhole" />
        </div>

        <div>
            <h2 class="change-password-dialog__title">Смена пароля</h2>

            <p class="change-password-dialog__description">
                Введите текущий пароль и задайте новый пароль для аккаунта.
            </p>
        </div>
    </header>

    <div class="change-password-dialog__fields">
        <tui-textfield iconStart="@tui.lock-keyhole">
            <label tuiLabel for="currentPassword">Текущий пароль</label>

            <input
                id="currentPassword"
                tuiInput
                type="password"
                placeholder="Введите текущий пароль"
                formControlName="currentPassword"
            />

            <tui-icon tuiPassword />
        </tui-textfield>

        <tui-error
            formControlName="currentPassword"
            [order]="['required', 'minlength', 'maxlength']"
        />

        <tui-textfield iconStart="@tui.key-round">
            <label tuiLabel for="newPassword">Новый пароль</label>

            <input
                id="newPassword"
                tuiInput
                type="password"
                placeholder="Введите новый пароль"
                formControlName="newPassword"
            />

            <tui-icon tuiPassword />
        </tui-textfield>

        <tui-error
            formControlName="newPassword"
            [order]="['required', 'minlength', 'maxlength', 'samePassword']"
        />

        <tui-textfield iconStart="@tui.check">
            <label tuiLabel for="confirmNewPassword"
                >Повторите новый пароль</label
            >

            <input
                id="confirmNewPassword"
                tuiInput
                type="password"
                placeholder="Повторите новый пароль"
                formControlName="confirmNewPassword"
            />

            <tui-icon tuiPassword />
        </tui-textfield>

        <tui-error
            formControlName="confirmNewPassword"
            [order]="['required', 'minlength', 'maxlength', 'passwordMismatch']"
        />
    </div>

    <footer class="change-password-dialog__actions">
        <button
            tuiButton
            type="button"
            appearance="flat"
            [disabled]="isSaving()"
            (click)="context.$implicit.complete()"
        >
            Отмена
        </button>

        <button
            tuiButton
            type="button"
            appearance="accent"
            [disabled]="form.invalid || isSaving()"
            (click)="saveNewPassword()"
        >
            Сохранить
        </button>
    </footer>
</form>
