<div class="card">
    <div class="content">
        <div class="info">
            <div tuiAvatar="@tui.lock-keyhole" size="l" appearance="info"></div>

            <div class="text">
                <div class="title">Смена пароля</div>

                <div class="description">
                    Рекомендуем периодически менять пароль для безопасности
                    вашего аккаунта.
                </div>
            </div>
        </div>

        <form class="form" [formGroup]="form" (ngSubmit)="saveNewPassword()">
            <tui-textfield>
                <label tuiLabel>Текущий пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Введите текущий пароль"
                    formControlName="currentPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="currentPassword"
                [order]="['required']"
            />

            <tui-textfield>
                <label tuiLabel>Новый пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Введите новый пароль"
                    formControlName="newPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="newPassword"
                [order]="['required', 'minlength', 'maxlength', 'samePassword']"
            />

            <tui-textfield>
                <label tuiLabel>Повторите новый пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Повторите новый пароль"
                    formControlName="confirmNewPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="confirmNewPassword"
                [order]="[
                    'required',
                    'minlength',
                    'maxlength',
                    'passwordMismatch'
                ]"
            />

            <div class="actions">
                <button
                    tuiButton
                    type="submit"
                    size="m"
                    iconStart="@tui.check"
                    class="button"
                    [disabled]="isSaving()"
                >
                    Изменить пароль
                </button>
            </div>
        </form>
    </div>
</div>
