<div class="change-password-card">
    <div class="change-password-card__content">
        <div class="change-password-card__info">
            <div tuiAvatar="@tui.lock-keyhole" size="l" appearance="info"></div>

            <div class="change-password-card__text">
                <h2 class="change-password-card__title">Смена пароля</h2>

                <p class="change-password-card__description">
                    Рекомендуем периодически менять пароль для безопасности
                    вашего аккаунта.
                </p>
            </div>
        </div>

        <form
            class="change-password-card__form"
            [formGroup]="form"
            (ngSubmit)="saveNewPassword()"
        >
            <tui-textfield>
                <label tuiLabel>Текущий пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Введите текущий пароль"
                    formControlName="currentPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="currentPassword"
                [order]="['required', 'minlength', 'maxlength']"
            />

            <tui-textfield>
                <label tuiLabel>Новый пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Введите новый пароль"
                    formControlName="newPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="newPassword"
                [order]="['required', 'minlength', 'maxlength', 'samePassword']"
            />

            <tui-textfield>
                <label tuiLabel>Повторите новый пароль</label>

                <input
                    tuiInput
                    type="password"
                    placeholder="Повторите новый пароль"
                    formControlName="confirmNewPassword"
                />

                <tui-icon tuiPassword />
            </tui-textfield>

            <tui-error
                formControlName="confirmNewPassword"
                [order]="[
                    'required',
                    'minlength',
                    'maxlength',
                    'passwordMismatch'
                ]"
            />

            <div class="change-password-card__actions">
                <button
                    tuiButton
                    type="submit"
                    size="m"
                    iconStart="@tui.check"
                    class="change-password-card__button"
                    [disabled]="isSaving()"
                >
                    Изменить пароль
                </button>
            </div>
        </form>
    </div>
</div>
